@model IEnumerable<WebProgramlamaProje.Models.Oyuncu>

@{
    ViewData["Title"] = "Oyuncular";
}

<h1>Oyuncular</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OyuncuAd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OyuncuYas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OyuncuDesc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OyuncuAd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OyuncuYas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OyuncuDesc)
                </td>
                <td>
                    <a asp-action="OyuncuEdit" asp-route-id="@item.OyuncuID">Düzenle</a> |
                    <a asp-controller="User" asp-action="Oyuncu" asp-route-id="@item.OyuncuID">Detaylar</a> |
                    <a asp-action="OyuncuSil" asp-route-id="@item.OyuncuID">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
