@model IEnumerable<WebProgramlamaProje.Models.Yonetmen>

@{
    ViewData["Title"] = "Yonetmenler";
}

<h1>Yonetmenler</h1>

@if (ViewBag.errMsg is not null) @ViewBag.errMsg


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.YonetmenAd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YonetmenYas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YonetmenDesc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.YonetmenAd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YonetmenYas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YonetmenDesc)
                </td>
                <td>
                    <a asp-action="YonetmenEdit" asp-route-id="@item.YonetmenID">Düzenle</a> |
                    <a asp-controller="User" asp-action="Yonetmen" asp-route-id="@item.YonetmenID">Detaylar</a> |
                    <a asp-action="YonetmenSil" asp-route-id="@item.YonetmenID">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
