@model WebProgramlamaProje.Models.Oyuncu

@{
    ViewData["Title"] = "Oyuncu";
}

<h1>Oyuncu</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OyuncuAd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OyuncuAd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OyuncuYas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OyuncuYas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OyuncuDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OyuncuDesc)
        </dd>
    </dl>
</div>
