@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer;
@{
    ViewData["Title"] = Localizer["Title"];
}


@model List<WebProgramlamaProje.Models.Film>


<div class="container">
    <div class="row" style="margin-bottom:50px">
        <div class="col-md">
            <h6 class="text-center"> @Localizer["Action"]</h6>
            <div id="carouselAksiyon" class="carousel slide" style="width:min-content" data-bs-ride="carousel">
                <div class="carousel-inner">
                    @{
                        bool first = false;
                        for (int i = 0; i < Model.Count(); i++)
                        {
                            var item = Model[i];

                            if (item.FilmTur == "Aksiyon")
                            {
                                if (!first)
                                {
                                        <div class="carousel-item active">
                                        <div style="background-image: url('@item.FilmPosterUrl');" class="d-block corousel-movie-item"></div>
                                            <a asp-controller="User" asp-action="Film" asp-route-id=@item.FilmID>
                                                <div class="carousel-caption d-none d-md-block">
                                                <h5>@Html.DisplayFor(modelItem => item.FilmAd)</h5>

                                                </div>
                                            </a>
                                        </div>
                                    first = true;
                                }
                                else
                                {
                                        <div class="carousel-item">
                                        <div style="background-image: url('@item.FilmPosterUrl');" class="d-block corousel-movie-item"></div><div style="background-size:cover;background-image: url(" @item.FilmPosterUrl");height:360px;aspect-ratio:0.67" class="d-block"></div>
                                            <a asp-controller="User" asp-action="Film" asp-route-id=@item.FilmID>
                                                <div class="carousel-caption d-none d-md-block">
                                                <h5>@Html.DisplayFor(modelItem => item.FilmAd)</h5>

                                                </div>
                                            </a>
                                        </div>
                                }
                            }
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-md">
            <h6 class="text-center"> @Localizer["Scifi"]</h6>
            <div id="carouselScifi" class="carousel slide" style="width:min-content" data-bs-ride="carousel">
                <div class="carousel-inner">
                    @{
                        first = false;
                        for (int i = 0; i < Model.Count(); i++)
                        {
                            var item = Model[i];
                            if (item.FilmTur == "Bilim Kurgu")
                            {
                                if (!first)
                                {
                                        <div class="carousel-item active">
                                        <div style="background-image: url('@item.FilmPosterUrl');" class="d-block corousel-movie-item"></div>
                                            <a asp-controller="User" asp-action="Film" asp-route-id=@item.FilmID>
                                                <div class="carousel-caption d-none d-md-block">
                                            <h5>@Html.DisplayFor(modelItem => item.FilmAd)</h5>

                                                </div>
                                            </a>
                                        </div>
                                    first = true;
                                }
                                else
                                {
                                        <div class="carousel-item">
                                        <div style="background-image: url('@item.FilmPosterUrl');" class="d-block corousel-movie-item"></div>
                                            <a asp-controller="User" asp-action="Film" asp-route-id=@item.FilmID>
                                                <div class="carousel-caption d-none d-md-block">
                                            <h5>@Html.DisplayFor(modelItem => item.FilmAd)</h5>

                                                </div>
                                            </a>
                                        </div>
                                }
                            }
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-md">
            <h6 class="text-center" style="text-decoration:line-through;color:red">@Localizer["Love"]</h6>
            <div id="carouselL" class="carousel slide" style="width:min-content" data-bs-ride="carousel">
                <div class="carousel-inner">
                    @{
                        first = false;
                        for (int i = 0; i < Model.Count(); i++)
                        {
                            var item = Model[i];
                            if (item.FilmTur == "Aşk")
                            {
                                if (!first)
                                {
                                        <div class="carousel-item active">
                                        <div style="background-image: url('@item.FilmPosterUrl');" class="d-block corousel-movie-item"></div>
                                            <a asp-controller="User" asp-action="Film" asp-route-id=@item.FilmID>
                                                <div class="carousel-caption d-none d-md-block">
                                                <h5>@Html.DisplayFor(modelItem => item.FilmAd)</h5>


                                                </div>
                                            </a>
                                        </div>
                                    first = true;
                                }
                                else
                                {
                                        <div class="carousel-item">
                                        <div style="background-image: url('@item.FilmPosterUrl');" class="d-block corousel-movie-item"></div>
                                            <a asp-controller="User" asp-action="Film" asp-route-id=@item.FilmID>
                                                <div class="carousel-caption d-none d-md-block">
                                                <h5>@Html.DisplayFor(modelItem => item.FilmAd)</h5>

                                                </div>
                                            </a>
                                        </div>
                                }
                            }
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-md">
            <h6 class="text-center"> @Localizer["Horror"]</h6>
            <div id="carouselKorku" class="carousel slide" style="width:min-content" data-bs-ride="carousel">
                <div class="carousel-inner">
                    @{
                        first = false;
                        for (int i = 0; i < Model.Count(); i++)
                        {
                            var item = Model[i];
                            if (item.FilmTur == "Korku")
                            {
                                if (!first)
                                {
                                        <div class="carousel-item active">
                                        <div style="background-image: url('@item.FilmPosterUrl');" class="d-block corousel-movie-item"></div>
                                            <a asp-controller="User" asp-action="Film" asp-route-id=@item.FilmID>
                                                <div class="carousel-caption d-none d-md-block">
                                                <h5>@Html.DisplayFor(modelItem => item.FilmAd)</h5>

                                                </div>
                                            </a>
                                        </div>
                                    first = true;
                                }
                                else
                                {
                                        <div class="carousel-item">
                                        <div style="background-image: url('@item.FilmPosterUrl');" class="d-block corousel-movie-item"></div>
                                            <a asp-controller="User" asp-action="Film" asp-route-id=@item.FilmID><div class="carousel-caption d-none d-md-block">
                                                <h5>@Html.DisplayFor(modelItem => item.FilmAd)</h5>

                                                </div>
                                            </a>
                                        </div>
                                }
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div>
        <h5 class="text-center">@Localizer["Best"]</h5><br />
        <div class="row">
            @{
                Model.Sort((Film f1, Film f2) =>
                {
                    if (f1.FilmPuan == f2.FilmPuan)
                    {
                        return 0;
                    }
                    else if (f1.FilmPuan > f2.FilmPuan)
                    {
                        return -1;
                    }
                    else
                    {
                        return 1;
                    }
                });
                int counter = 0;
                foreach (var item in Model)
                {
                    if (counter == 4) break;
                        <div class="col-md-3">
                        <div style="background-image: url('@item.FilmPosterUrl');" class="d-block movie-cover">
                                <a asp-controller="User" asp-action="Film" asp-route-id=@item.FilmID><h5 class="movie-caption">@Html.DisplayFor(modelItem => item.FilmAd)</h5>
                                <h5 class="movie-rating">Puan: @Html.DisplayFor(modelItem => item.FilmPuan)</h5></a>
                            </div>
                        </div>
                    counter++;
                }
            }


        </div>

    </div>
</div>
</div>
